.List-chips {
  .MuiListItemButton-root {
    margin: 4px 0;
  }
  .MuiListItemButton-root:hover {
    background: var('color-primary-main') !important;
    .MuiChip-root {
      cursor: pointer;
    }
  }
  .MuiListItemButton-root.Mui-selected {
    background: var('color-primary-main') !important;
    .MuiChip-root {
      background-color: var(--color-primary-main) !important;
    }
  }
  .MuiChip-root {
    max-width: 100% !important;
  }
}
